<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="firsttimerun" value="true" />
    <add key="sellerName" value="none" />
    <add key="address" value="none" />
    <add key="buildingNo" value="none" />
    <add key="city" value="none" />
    <add key="postalCode" value="none" />
    <add key="phone" value="none" />
    <add key="pesel" value="none" />
    <add key="headlineInfo" value="none" />
    <add key="footerText" value="none" />
    <add key="autostart_database" value="false" />
    <add key="lang" value="pl-PL" />
    <add key="backuproutine" value="false" />
    <add key="backuproutinedata" value="false" />
    <add key="enable_scanner_service" value="false" />
    <add key="bankAddress" value="false" />
    <add key="accountNo" value="false" />
    <add key="defaultPrintTemplate" value="none" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>